.drop-btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: none;
  color: #e77026;
  display: inline-block;
  cursor: pointer;
}
.drop-btn::after {
  border: 1px solid;
  background-color: #e77026;
  content: '';
  display: block;
  height: 4px;
  width: 4px;
  margin-top: -4px;
  position: absolute;
  transform: rotate(135deg);
  right: -5px;
  top: 50%;
  border-bottom-left-radius: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
