.drop-btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #E66E31 !important;
}
.drop-btn:disabled::after {
  content: none;
}
.drop-btn::after {
  background-image: url(../images/icon/polygon.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 4px;
  width: 6px;
  margin-top: -4px;
  position: absolute;
  right: -3px;
  top: 12px;
  border-bottom-left-radius: 12px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 22px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 540px) {
  .drop-btn::after {
    right: -10px;
  }
}