@font-face {
  font-family: 'Averta Std CY';
  font-weight: 100;
  font-display: block;
  src: url("../fonts/Intelligent Design - AvertaStdCy-Extrathin_1.otf.otf") format("opentype"); 
}

@font-face {
  font-family: 'Averta Std CY';
  font-weight: 300;
  font-display: block;
  src: url("../fonts/Intelligent Design - AvertaStdCY-Thin_1.otf") format("opentype"); 
}

@font-face {
  font-family: 'Averta Std CY';
  font-weight: 400;
  font-display: block;
  src: url("../fonts/Intelligent Design - AvertaStdCY-Light_1.otf") format("opentype"); 
}

@font-face {
  font-family: 'Averta Std CY';
  font-weight: 500;
  font-display: block;
  src: url("../fonts/Intelligent Design - AvertaStdCY-Regular_3.otf") format("opentype"); 
}

@font-face {
  font-family: 'Averta Std CY';
  font-weight: 600;
  font-display: block;
  src: url("../fonts/Intelligent Design - AvertaStdCY-Semibold_1.otf") format("opentype");
}

@font-face {
  font-family: 'Averta Std CY';
  font-weight: 700;
  font-display: block;
  src: url("../fonts/Intelligent Design - AvertaStdCY-Bold_1.otf") format("opentype");
}