@import url('./font.css');

body {
  font-size: 12px;
  font-family: 'Averta Std CY';
  color: #333333;
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

ul{
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1312px;
  padding: 0 24px;
  margin: 0 auto;
}

/* text */
.limit-text-line-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.limit-text-line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* Color */
.bg-primary-1 {
  background: rgba(231, 112, 38, 0.03) !important;
}
.bg-primary-2 {
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
}
.bg-white {
  background-color: white !important;
}

/* button */
.button--default {
  padding: 18px;
  cursor: pointer;
  color: #ffffff;
  background-color: #E77026;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}
.login-button {
  background-color: #E77026;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  margin: auto 0;
  border: none;
  color: #ffffff;
}

.rounded-md {
  border-radius: 6px !important;
}
.rounded-lg {
  border-radius: 8px !important;
}
.rounded-xl {
  border-radius: 12px !important;
}

/* Pointer */
.pointer {
  cursor: pointer;
}
/* devider */
.devider {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.07);;
}

/* main */
.main_content {
  width: 100%;
  background-image: #ffff;
  padding-bottom: 16px;
}
.main_banner {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #ffff;
  margin-bottom: 89px;
}
.main_banner_dummy {
  margin-top: calc(100% * (700 / 1920));
}
.main_banner_content {
  position: absolute;
  inset: 0;
}
.main_banner_title{
  width: 90%;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%);
  font-weight: 600;
  font-size: 55px;
  line-height: 68px;
  color: #fff;
  z-index: 10;
  text-align: center;
}
.footer__container {
  padding-top: 20px;
}
.row,
.flex {
  display: flex;
  gap: 10px;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.logo-image-header {
  width: 184px;
  height: 82px;
  margin: 12px 0;
}
.logo-image-footer {
  width: 160px;
  height: 62px;
}
.logo-image-ser {
  width: 70px;
  height: 32px;
  margin-top: 8px;
}
.gap-52 {
  gap: 52px
}
.cl-white {
  color: #7f7f7f !important;
}
.social {
  margin: 15px 15px 30px;
}
.social__logo {
  font-size: 22px;
  margin-right: 12px;
}
.logo-contract {
  font-size: 16px;
  margin-right: 12px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.align-right {
  justify-content: end;
}
.mr-8 {
  margin-right: 12px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.bold {
  font-weight: bold;
}
.ver-seperate {
  background-color: #cccccc;
  height: 32px;
  width: 2px;
}
.hor-seperate {
  background-color: #cccccc;
  height: 2px;
  width: 100%;
  margin-bottom: 12px;
}
.col-md-3, .col-md-8, .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.hor-center {
  margin: 0 auto;
}
.ver-center {
  margin: auto 0;
}

@media (min-width: 768px) {
  .col-md-3, .col-md-8, .col-md-9 {
    float: left;
  }
  .col-md-3 {
    width: 29.16666667%;
  }
  .col-md-8 {
    width: 70.83333333%;
  }
  .col-md-9 {
    width: 79.16667%;
  }
}