.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.layout_header {
  font-size: 1rem;
  color: #7f7f7f;
  position: fixed;
  height: 85px;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.layout_header--desktop {
  display: block;
}
.layout_header--mobile {
  display: none;
}

.layout_main {
  text-align: center;
  display: block;
  flex: 1;
  flex-basis: auto;
  margin-top: 85px;
}
.layout_footer {
  min-height: 380px;
  width: 100%;
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
  color: #ffffff;
  margin-top: 35px;
}

/* header */
.header_left {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 30px;
}
.header_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.header-label {
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 20px;
  color: #656565 !important;
  margin-right: 40px;
}
.is-hotline {
  text-align: right;
}
.info-hotline {
  opacity: 0;
  max-height: 0;
  width: 0;
  padding-right: 6px;
  
  
}
.styckyBtn:hover {
  width: auto;
}
.styckyBtn:hover .info-hotline {
  opacity: 1;
  width: 100%;
  max-height: 100%; 
  transition: 1s ease;
}
.is-active-styckyBtn {
  width: 180px !important;
}
.is-active-hotline {
  opacity: 1 !important;
  width: 100% !important;
  max-height: 100% !important; 
  transition: 1s ease;
  padding-left: 5px;
}
.styckyBtn {
  position: fixed;
  right: 12px;
  bottom: 70px;
  right: 10px;
  z-index: 99;
  width: 85px;
  width: 85px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  /* pointer-events: none; */
}
.styckyBtn-is-mobile {
  display: none;
}

.styckyBtn:hover {
  background-color:none;
}
.is-messenger {
  text-align: right;
  height: 50px;
}
.is-messenger:hover {
  transform: scale(1.05);
}
.styckyBtn .is-btn-hotline {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 35px;
  padding: 6px 15px;
  background: #17c2c9;
  width: 134px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 999px; 
  margin: 5px;
  align-items: center;
}
.styckyBtn .is-icon-hotline {
  width: 17px;
  height: 17px;
}
.styckyBtn .is-icon-hotline img{ 
  width: 100%;
  height: auto;
}
.styckyBtn .is-location-block .is-info-location {
  display: flex;
}
.styckyBtn .is-location-block {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 8px;
}
.styckyBtn .is-location-block .is-location {
  width: 7px;
  height: 7px;
}
.styckyBtn .is-location-block .is-location img{
  width: 100%;
  height: auto;
}
.styckyBtn .is-location-block .is-location-title{
  font-weight: 600;
  font-size: 7px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 3px;
}
.styckyBtn .is-location-block .is-number-location {
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
}
.styckyBtn .is-btn-hotline img{
  height: auto;
}
.styckyBtn .is-btn-hotline:hover {
  transform: scale(1.05);
}

.styckyBtn {
  display: block;
}
.styckyBtn .is-btn-hotline  p {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.styckyBtn:focus-visible {
  box-shadow: none;
  background: none;
}
.info-hotline:focus-visible {
  box-shadow: none;
  background: none;
}
/* Menu sidebar */
.menu-sidebar {
  background-color: #ffffff;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 85px;
  left: -250px;
  width: 250px;
  height: 100%;
  transition: all 0.5s ease;
  border-top: 1px solid #333333;
}
.menu-sidebar * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #333333;
}
.menu-sidebar ul li {
  padding: 20px;
  transition: 0.4s;
}
.menu-sidebar ul li:not(:first-child) {
  border-top: 1px solid #333333;
}
.menu-sidebar ul li:hover {
  padding-left: 30px;
}
#showMenu {
  display: none;
}
#closeMenu {
  display: none;
  position: absolute;
  top: -7px;
  right: -8px;
  font-size: 20px;
  background-color: #155e7580;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
#showMenu:checked ~ .menu-sidebar {
  left: 0;
}

@media screen and (max-width: 540px) {
  .layout_header {
    max-width: 100vw;
  }
  .layout_header--desktop {
    display: none;
  }
  .layout_header--mobile {
    display: block;
  }
  .header-mobile__container {
    display: flex;
    width: 95%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
  }
  .header-label {
    margin-right: 0;
  }


  .lang-footer {
    justify-content: center;
  }
  .five-sense-bt {
    position: absolute !important;
  }
}
