html{
scroll-behavior: smooth;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.layout_header {
  font-size: 1rem;
  color: #7f7f7f;
  position: fixed;
  height: 85px;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.layout_header--desktop {
  display: block;
}
.layout_header--mobile {
  display: none;
}

.layout_main {
  text-align: center;
  display: block;
  flex: 1;
  flex-basis: auto;
  margin-top: 85px;
}
.layout_footer {
  min-height: 380px;
  width: 100%;
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
  color: #ffffff;
  margin-top: 35px;
}

/* header */
.header_left {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 30px;
  justify-content: flex-end;
}
.header_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  justify-content: flex-start;
}
.header-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #656565;
  margin-right: 40px;
}
.header-label--active {
  color: #E77026 !important;
}
.is-hotline {
  text-align: right;
}
.info-hotline {
  opacity: 0;
  max-height: 0;
  width: 0;
  padding-right: 6px;
  
  
}
.styckyBtn:hover {
  width: auto;
}
.styckyBtn:hover .info-hotline {
  opacity: 1;
  width: 100%;
  max-height: 100%; 
  transition: 1s ease;
}
.is-active-styckyBtn {
  width: 245px !important;
}
.is-active-hotline {
  opacity: 1 !important;
  width: 100% !important;
  max-height: 100% !important; 
  transition: 1s ease;
  padding-left: 2px;
}
.styckyBtn {
  position: fixed;
  right: 12px;
  bottom: 70px;
  right: 20px;
  z-index: 99;
  width: 235px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  /* pointer-events: none; */
}
.styckyBtn-is-mobile {
  display: none;
}

.styckyBtn:hover {
  background-color:none;
}
.is-messenger {
  text-align: right;
  height: 50px;
}
.is-messenger:hover {
  transform: scale(1.05);
}
.styckyBtn .is-btn-hotline {
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: 46px;
  padding: 4px 15px;
  background: #17c2c9;
  width: 235px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 999px; 
  margin: 5px;
  align-items: center;
}
.styckyBtn .is-icon-hotline {
  width: 23px;
  height: 25px;
}
.styckyBtn .is-icon-hotline img{ 
  width: 100%;
  height: auto;
}
.styckyBtn .is-location-block .is-info-location {
  display: flex;
}
.styckyBtn .is-location-block {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 8px;
}
.styckyBtn .is-location-block .is-location {
  display: none;
  width: 10px;
  height: 10px;
}
.styckyBtn .is-location-block .is-location img{
  width: 100%;
  height: auto;
}
.styckyBtn .is-location-block .is-location-title{
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  margin-left: 3px;
}
.styckyBtn .is-location-block .is-number-location a{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.styckyBtn .is-btn-hotline img{
  height: auto;
}
.styckyBtn .is-btn-hotline:hover {
  transform: scale(1.05);
}

.styckyBtn {
  display: block;
}
.styckyBtn .is-btn-hotline  p {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.styckyBtn:focus-visible {
  box-shadow: none;
  background: none;
}
.info-hotline:focus-visible {
  box-shadow: none;
  background: none;
}
/* Menu sidebar */
.menu-sidebar {
  padding: 30px 14px;
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
  display: flex;
  flex-direction: column;
}
.menu-sidebar * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.menu-sidebar ul {
  margin-top: 20px;
}
.menu-sidebar ul li {
  padding: 14px 0;
  transition: 0.4s;
  text-transform: uppercase;
}
.menu-sidebar ul li:hover {
  padding-left: 30px;
}
.menu-sidebar ul li a {
  display: block;
}
.menu-sidebar ul li a:focus,
.menu-sidebar ul li a:hover {
  color: white !important;
}
.menu-sidebar li .header-label {
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}
.menu-sidebar li.active {
  background-color: #ffffffcc;
}
.menu-sidebar__footer {
  margin-top: auto;
}
.menu-sidebar__footer .menu-social {
  margin-bottom: 20px;
}
#showMenu {
  display: none;
}
#search,
#closeMenu {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  color: white;
}
#search {
  right: 70px;
}
#closeMenu img {
  width: 100%;
  height: 100%;
}
#showMenu:checked ~ .menu-sidebar {
  left: 0;
}
@media screen and (min-width: 1148px) {
  .header_right {
    /* min-width: 460px; */
  }
}
@media screen and (min-width: 768px ) and (max-width: 1147px ) {
  .header_left .header-label,
  .header_right .header-label {
    overflow: hidden;
    /* display: -webkit-box; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
  }
}
@media screen and (max-width: 540px) {
  .layout_header {
    max-width: 100vw;
  }
  .layout_header--desktop {
    display: none;
  }
  .layout_header--mobile {
    display: block;
  }
  .header-mobile__container {
    display: flex;
    width: 95%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
  }
  .header-label {
    margin-right: 0;
  }
  .header-label--active {
    color: #E77026 !important;
    padding: 0 8px;
  }


  .lang-footer {
    justify-content: center;
  }
  .five-sense-bt {
    position: absolute !important;
  }
  .stickyEmail {
    left: 0 !important;
    bottom: 82px !important;
  }
  .styckyBtn {
    right: 8px !important;

  }
  .stickyEmail .sticky-email-desktop {
    display: none !important;
  }
  .stickyEmail .sticky-email-mobile {
    display: block !important;
  }
  .styckyBtn .is-location-block .is-location-title{
    font-size: 8px;
  }
  .styckyBtn .is-location-block .is-number-location a{
    font-size: 12px;
  }
  .styckyBtn .is-btn-hotline {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 36px;
    padding: 4px 15px;
    width: 165px;
  }
  .is-active-styckyBtn {
    width: 175px !important;
  }
}

.stickyEmail {
  position: fixed;
  left: 22px;
  bottom: 92px;
  right: 0;
  z-index: 99;
  width: 225px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 15px; */
  /* pointer-events: none; */
}
.stickyEmail:hover {
  transform: scale(1.05);
}
.stickyEmail .sticky-email-desktop {
  display: block;
}
.stickyEmail .sticky-email-mobile {
  display: none;
}
.stickyEmail .is-email img{ 
  width: 100%;
  height: auto;
}

.stickyEmail:focus-visible {
  box-shadow: none;
  background: none;
}
