.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.layout_header {
  font-size: 1rem;
  color: #7f7f7f;
  position: fixed;
  height: 85px;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.layout_main {
  text-align: center;
  display: block;
  flex: 1;
  flex-basis: auto;
  margin-top: 85px;
}
.layout_footer {
  min-height: 380px;
  width: 100%;
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
  color: #ffffff;
  margin-top: 35px;
}

/* header */
.header-label {
  font-size: 16px;
  line-height: 20px;
  color: #656565;
  padding: 0 21px;
}
.is-hotline {
  text-align: right;
}
.info-hotline {
  opacity: 0;
  max-height: 0;
  width: 0;
  
}
.styckyBtn:hover {
  width: auto;
}
.styckyBtn:hover .info-hotline {
  opacity: 1;
  width: 100%;
  max-height: 100%; 
  transition: 1s ease;
}
.is-active-styckyBtn {
  width: 189px !important;
}
.is-active-hotline {
  opacity: 1 !important;
  width: 100% !important;
  max-height: 100% !important; 
  transition: 1s ease;
}
.styckyBtn {
  position: fixed;
  bottom: 105px;
  right: 12px;
  bottom: 125px;
  right: 0px;
  z-index: 99;
  width: 85px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  /* pointer-events: none; */
}
.styckyBtn-is-mobile {
  display: none;
}

.styckyBtn:hover {
  background-color:none;
}
.is-messenger {
  text-align: right;
  height: 50px;
}
.is-messenger:hover {
  transform: scale(1.05);
}
.is-btn-hotline {
  height: 40px;
  padding: 5px;
}
.is-btn-hotline img{
  height: auto;
}
.is-btn-hotline:hover {
  transform: scale(1.05);
}

.styckyBtn {
  display: block;
}
.styckyBtn:focus-visible {
  box-shadow: none;
  background: none;
}
.info-hotline:focus-visible {
  box-shadow: none;
  background: none;
}
