.homepage {
  flex-direction: column;
}
.homepage_header {
  font-size: 1rem;
  color: #7f7f7f;
}
.header-label {
  font-size: 16px;
  line-height: 20px;
  color: #656565;
}
.homepage_main {
  text-align: center;
  display: block;
  flex: 1;
  flex-basis: auto;
}
.main_banner {
  position: relative;
  height: 600px;
  font-size: 14px;
  color: #ffff;
  margin: 0;
  padding: 0;
}
.banner-img {
  object-fit: fill !important;
}

.main_four-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px !important;
}
.four-values_img {
  width: 80px;
  height: 120px;
}
.four-values_label{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 12px;
}
.four-values_label p {
  margin: 12px 0;
}
.four-values_label--organe {
  color: #E77026;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0 !important;
}
.four-values_label--size {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.four-values_content {
  width: 100%;
}
.content-box {
  background-color: #ffff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}
.content-box p{
  color: #000;
}
.content-box_label--bold {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0 !important;
}
.content-box .content-box_label--grey {
  color: #808080;
  font-weight: 400;
  font-size: 16px;
}
.content-box_icon {
  width: 57.73px;
  height: 57.73px;
  margin: 0 auto;
}
.content-box:hover {
  background: linear-gradient(180deg, #E77026 0%, #F3A846 100%);
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
}
.content-box:hover p{
  color: #fff;
}
.content-box:hover img {
  filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
}
.main_video {
  position: relative;
}
.video-box {
  background-image: url('../images/banner/video-bg.png');
  color: #fff;
  display: inline-block;
  height: 626.51px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.box_lable-1 {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;  
  padding: 0 42px;
}
.box_lable-2 {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.video-link {
  transform: scale(1) translateY(-280px);
  width: 45vw;
  height: 45vh;
}
.video-label {
  transform: scale(1) translateY(200px);
  padding: 0 20%;

}
.five-swiper-block {
  height: 400px;
  position: relative;
}
.five-swiper {
  position: unset !important;
}
.label-2 {
  font-weight: 600;
  font-size: 36px !important;
}
.five-sense {
  position: relative;
}
.five-sense-content{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: rgba(128, 128, 128, 0.8);
}
.custom-img {
  width: 100% !important;
  height: 553px !important;
}
.img-rabbit {
  width: 167px;
  height: 163px;
}
.content_left {
  flex-direction: column;
}
.content_right {
  width: 96%;
  height: 576px;
  overflow: hidden;
}
.float-right-five-sense {
  transform: scale(1) translateX(15px);
}
.slider-content {
  width: 300px;
  height: 400px
}
.label-five-sense-1 {
  font-weight: 600;
  font-size: 16px;
  color: #E77026;
}
.label-five-sense-2 {
  font-weight: 600;
  font-size: 36px;
}
.five-sense-content-slide {
  text-align: left !important;
  display: block !important;
}
.five-sense-slide {
  position: relative;
  height: 100%;
}
.five-sense-bt {
  top: unset !important;
  position: relative !important;
  right: unset !important;
  left: unset !important;
  display: block;
}
.five-sense-bt.prev {
  float: left;
  margin-right: 20px;
}
.swiper-button-disabled {
  filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(355deg) brightness(98%) contrast(82%);
}
.swiper-slide.five-sense-detail-slide {
  height: 80%;
  opacity: 0.5;
  margin: auto 0;
  border-radius: 15px;
}
.swiper-slide.five-sense-detail-slide.swiper-slide-active {
  height: 100%;
  opacity: 1;
  border-radius: 15px;
}
.bt-next {
  right: -28px !important;
}
.bt-prev {
  left: -28px !important;
}
.five-sense-detail-image {
  border-radius: 15px;
}
.top-hotel-content {
  height: 300px !important;
  flex-direction: column;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end !important;
  padding-bottom: 12px;
}
.top-hotel-content p {
  color: #fff;
  margin: 0;
}
.hotel-name {
  font-weight: 600;
  font-size: 28px;
}
.hotel-des {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.top-hotel-wrapper {
  height: 390px !important;
}
.top-hotel-bt {
  filter: invert(100%) sepia(8%) saturate(0%) hue-rotate(305deg) brightness(106%) contrast(102%);
}
.top-hotel-bt.prev {
  margin-right: 12px;
}
.top-hotels_label {
  font-weight: 600;
  font-size: 36px;
}
.top-hotels_label span {
  color: #E77026;
}
.top-hotels_slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.homepage_footer {
  max-height: 380px;
  width: 100%;
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
  color: #ffffff;
}
.footer__container {
  padding-top: 20px !important;
}
.row,
.flex {
  display: flex;
  gap: 10px;
}
.logo-image-footer {
  width: 160px;
  height: 62px;
}
.logo-image-ser {
  width: 70px;
  height: 32px;
  margin-top: 8px;
}
.gap-52 {
  gap: 52px
}
.cl-white {
  color: #7f7f7f !important;
}
.social {
  margin: 15px 15px 30px;
}
.social__logo {
  font-size: 22px;
  margin-right: 12px;
}
.logo-contract {
  font-size: 16px;
  margin-right: 12px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.align-right {
  justify-content: end;
}
.mr-12 {
  margin-right: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.bold {
  font-weight: bold;
}
.watch-room-button {
  background-color: #ffffff;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  border: none;
  color: #E77026;
  padding-top: 8px;
}
.swiper-slide-active .watch-room-button:hover {
  background-color: #E77026;
  color: #ffffff;
}
.globe-icon {
  font-size: 16px;
  margin-right: 8px;
}
.ver-seperate {
  background-color: #cccccc;
  height: 32px;
  width: 2px;
}
.hor-seperate {
  background-color: #cccccc;
  height: 2px;
  width: 100%;
  margin-bottom: 20px;
}
.col-md-3, .col-md-8, .col-md-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.hor-center {
  margin: 0 auto;
}
.ver-center {
  margin: auto 0;
}

@media (min-width: 768px) {
  .col-md-3, .col-md-8, .col-md-9 {
    float: left;
  }
  .col-md-3 {
    width: 29.16666667%;
  }
  .col-md-8 {
    width: 70.83333333%;
  }
  .col-md-9 {
    width: 79.16667%;
  }
}
@media (min-width: 1250px) { 
  .content_right {
    width: 74%;
  }
}