body {
  font-size: 12px;
  font-family: sans-serif;
  color: #0000;
  margin: 0;
}

ul{
  list-style: none;
}
.container {
  margin: 0 24VH;;
}
.row,
.flex {
  display: flex;
  gap: 10px;
}
.logo-image {
  width: 150px;
  height: 80px;
}
.gap-52 {
  gap: 52px
}
.logo-social {
  width: 30px;
  height: 28px;
}
.logo-contract {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.align-right {
  justify-content: end;
}
.mr-12 {
  margin-right: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.pt-100 {
  padding-top: 100px;
}
.bold {
  font-weight: bold;
}
.login-button {
  background-color: #ff6400;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  margin: auto 0;
  border: none;
  color: #ffffff;
}
.seperate {
  background-color: #cccccc;
  height: 32px;
  width: 2px;
}
.col-md-3, .col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.hor-center {
  margin: 0 auto;
}
.ver-center {
  margin: auto 0;
}
.homepage_footer {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 100%;
  background-image: linear-gradient(90deg, #ff6400, #feb22b );
  color: #ffffff;
}
.homepage_header {
  font-size: 1rem;
  color: #7f7f7f;
}
@media (min-width: 768px) {
  .col-md-3, .col-md-8 {
      float: left;
  }
  .col-md-3 {
      width: 29.16666667%;
  }
  .col-md-8 {
      width: 70.83333333%;
  }
}