.homepage_header {
  font-size: 1rem;
  color: #7f7f7f;
}

.homepage_main {
  text-align: center;
  display: block;
  flex: 1;
  flex-basis: auto;
}

.main_four-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px !important;
}
.four-values_img {
  width: 80px;
  height: 120px;
}
.four-values_label{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 12px;
}
.four-values_label p {
  margin: 12px 0;
}
.four-values_label--organe {
  color: #E77026;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0 !important;
}
.four-values_label--size {
  
  line-height: 44px;
}
.four-values_content {
  width: 100%;
}
.content-box {
  background-color: #ffff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}
.content-box p{
  color: #000;
}
.content-box_label--bold {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0 !important;
}
.content-box .content-box_label--grey {
  color: #808080;
  font-weight: 400;
  font-size: 16px;
}
.content-box_icon {
  width: 57.73px;
  height: 57.73px;
  margin: 0 auto;
}
.content-box:hover {
  background: linear-gradient(180deg, #E77026 0%, #F3A846 100%);
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
}
.content-box:hover p{
  color: #fff;
}
.content-box:hover img {
  filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
}
.main_video {
  position: relative;
}
.video-box {
  background-image: url('../images/banner/video-bg.png');
  color: #fff;
  display: inline-block;
  height: 626.51px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.box_lable-1 {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;  
  padding: 0 42px;
}
.box_lable-2 {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.video-link {
  transform: scale(1) translateY(-280px);
  width: 45vw;
  height: 45vh;
  border-radius: 15px;
  display: inline-block !important;
}
.video-label {
  transform: scale(1) translateY(200px);
  padding: 0 20%;

}
.five-swiper-block {
  height: 533px;
  position: relative;
}
.five-swiper {
  position: unset !important;
}
.label-2 {
  font-weight: 600;
  font-size: 36px !important;
}
.five-sense {
  position: relative;
}
.five-sense-content{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #3a3737;
}
.custom-img {
  width: 100% !important;
  height: 553px !important;
  object-fit: fill !important;
}
.img-rabbit {
  width: 167px;
  height: 163px;
}
.content_left {
  flex-direction: column;
}
.content_right {
  width: 90%;
  height: 576px;
}
.float-right-five-sense {
  transform: scale(1) translateX(15px);
}
.slider-content {
  width: 300px;
  height: 400px
}
.label-five-sense-1 {
  font-weight: 600;
  font-size: 16px;
  color: #E77026;
}
.five-sense-content-slide {
  text-align: left !important;
  display: block !important;
}
.five-sense-slide {
  position: relative;
  height: 100%;
}
.five-sense-swiper {
  position: unset !important;
}
.content_left {
  position: relative;
}
.five-sense-swiper .five-sense-bt.next {
  left: 92px;
}
.five-sense-swiper .five-sense-bt.prev {
  left: 0px;
}
.five-sense-swiper .five-sense-bt {
  top: 160px;
  position: absolute;
  right: unset;
  left: unset;
  display: block;
}
.five-sense-bt.prev {
  float: left;
  margin-right: 20px;
}
.swiper-button-disabled {
  filter: invert(14%) sepia(1%) saturate(0%) hue-rotate(355deg) brightness(98%) contrast(82%);
}
.swiper-slide.five-sense-detail-slide {
  height: 80%;
  opacity: 0.5;
  margin: auto 0;
  border-radius: 15px;
}
.swiper-slide.five-sense-detail-slide.swiper-slide-active {
  height: 100%;
  opacity: 1;
  border-radius: 15px;
}
.bt-next {
  right: -44px !important;
}
.bt-prev {
  left: -44px !important;
}
.five-sense-detail-image {
  border-radius: 15px;
}
.top-hotel-content {
  height: 300px !important;
  flex-direction: column;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end !important;
}
.top-hotel-content p {
  color: #fff;
  margin: 12px 0;
}
.hotel-name {
  font-weight: 600;
  font-size: 28px;
}

.top-hotel-wrapper {
  height: 390px !important;
}
.top-hotel-bt {
  filter: invert(100%) sepia(8%) saturate(0%) hue-rotate(305deg) brightness(106%) contrast(102%);
}
.top-hotel-bt.prev {
  margin-right: 12px;
}
.top-hotels_slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.go2-choise {
  background-image: url(../images/banner/bg-slide.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.go2-choise-content{
  background: linear-gradient(180deg, #E77026 0%, #F3A846 100%);
  box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  height: 347px !important;
}
.go2-choise-content {
  flex-direction: column;
  padding: 22px;
  align-items: flex-start !important;
}
.go2-choise-content p {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.user-info p {
  margin: 0;
}
.user-info{
  width: 100%;
}
.go2-choise-content--large-text {
  font-weight: 700;
  font-size: 24px;
}
.go2-choise-content--small-text {
  font-weight: 400;
  font-size: 16px;
}
.block-user-info {
  padding-top: 28px;
}
.go2-choise_slide .swiper-go2-choise .swiper-slide-active .logo-user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff !important;
}
.logo-user {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 1);
}
.user-apostrophe {
  gap: 0 !important;
  align-items: center;
  justify-content: end;
}
.apostrophe {
  width: 16px !important;
  height: 16px !important;
  object-fit: scale-down !important;
}
.go2-choise_slide {
  overflow: hidden !important;
  position: relative;
}
.go2-choise_slide {
  width: 100%;
  margin: 40px 0;
  padding: 45px 0;
}
.go2-choise-wrapper {
  height: 500px !important;
}
.swiper-go2-choise .swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: .7s;
}
.swiper-go2-choise .swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.5);
}
.swiper-go2-choise {
  width: 100%;
  margin-top: 104px;
}
.block-label {
  font-weight: 600;
  font-size: 36px;
}

.top-organe{
  color: #E77026;
}
.hotel-box{
  background: #FFFFFF;
  box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  border-left: 9px #E77026 solid;
  margin: 12px 0;
  cursor: pointer;
}
.label-hotel-box {
  background: #FFFFFF;
  box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 20px;
  border-left: 9px #E77026 solid;
}
.lo-img {
  width: 18px;
  height: 13px;
  margin-right: 8px;
}
.list-hotel,
.map-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* width */

/* Track */
.list-hotel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.list-hotel::-webkit-scrollbar-thumb {
  background: #E77026; 
  border-radius: 10px;
  width: 2px;
}

/* Handle on hover */
.list-hotel::-webkit-scrollbar-thumb:hover {
  background: #E77026; 
}
.first-img {
  object-fit: cover;
}
.second-img {
  object-fit: cover;
  width: 1000px;
  height: 300px;
}
.third-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.four-img {
  width: 490px;
  height: 300px;
  object-fit: cover;
}
.p-0 {
  padding: 0px !important;
}
.fit-img {
  width: -webkit-fill-available !important;
  object-fit: cover;
}
.homepage_footer {
  min-height: 380px;
  width: 100%;
  background: linear-gradient(90deg, #E77026 0%, #F3A846 100%);
  color: #ffffff;
}
.logo-image-footer {
  width: 160px;
  height: 62px;
}
.logo-image-ser {
  width: 70px;
  height: 32px;
  margin-top: 8px;
}
.social {
  margin: 15px 15px 30px;
}
.social__logo {
  font-size: 22px;
  margin-right: 12px;
}
.watch-room-button {
  background-color: #ffffff;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  border: none;
  color: #E77026;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  margin: 12px 0;
}
.swiper-slide-active .watch-room-button:hover {
  background-color: #E77026;
  color: #ffffff !important;
}
.globe-icon {
  font-size: 16px;
  margin-right: 8px;
}
.libary-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.five-sense_header {
  flex-direction: column;
  width: 136px;
}
.hotel-address {
  font-weight: 600;
  font-size: 16px;
}
.top-hotel-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(231, 112, 38, 0.85) 79.33%);
  padding: 0 8px;
}
.center-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1250px) { 
  .content_right {
    width: 76%;
  }
}
@media (max-width: 540px) {
  .center-label-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .custom-img {
    height: auto !important;
    width: 100% !important;
  }
  .five-swiper-block {
    height: 223px;
  }
  .content_right {
    width: 100%;
    height: 300px;
  }
  .five-content-block {
    flex-direction: column;
  }
  .main_banner,
  .five-sense-detail-image {
    height: 300px !important;
  }
  .watch-room-button {
    border-radius: 20px;
  }
  .swiper-go2-choise {
    margin-top: 18px;
  }
  .go2-choise {
    height: 442px;
  }
  .five-swiper {
    border-radius: 12px;
  }
  .five-content-block{
    flex-direction: column-reverse;
  }
  .float-right-five-sense  {
    transform: none;
  }
  .slider-content {
    width: 100%;
    height: auto;
  }
  .video-link,
  .video-label {
    transform: none;
    padding: 0;
  }
  .video-link {
    width: 93%;
    margin: auto;
    height: 300px;
  }
  .box_lable-1 {
    padding: 0;
  }
  .video-box {
    height: 556.51px;
    margin: 20px 0;
  }
  
  .five-sense-swiper .five-sense-bt {
    position: absolute;
    top: 90px;
  }
  .five-sense-swiper .five-sense-bt.next {
    right: 12px;
    left: unset !important;
  }
  .five-sense-swiper .five-sense-bt.prev {
    right: 70px !important;
    left: unset !important;
  }
  .swiper.libary-swiper,
  .swiper-slide .libary-img {
    height: 300px;
  }
  .hotel-box {
    justify-content: space-between;
  }
}
