body {
  font-size: 12px;
  font-family: sans-serif;
  color: #000;
  margin: 0;
  background-color: #f2f2f2;
}

ul{
  list-style: none;
}
.container {
  margin: 0 24VH;
}
.homepage {
  flex-direction: column;
}
.homepage_header {
  font-size: 1rem;
  color: #7f7f7f;
}
.homepage_main {
  text-align: center;
  display: block;
  flex: 1;
  flex-basis: auto;
}
.homepage_banner {
  position: relative;
  height: 300px;
  font-size: 14px;
  color: #ffff;
  margin: 0;
  padding: 0;
}
.homepage_four-value-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.four-value_img {
  width: 80px;
  height: 120px;
}
.four-value_label{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 12px;
}
.four-value_label p {
  margin: 12px 0;
}
.four-value_label--organe {
  color: #ff6400;
  font-weight: 600;
}
.four-value_label--size {
  font-size: 20px;
}
.four-value_content {
  width: 100%;
}
.content-box {
  background-color: #ffff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}
.content-box p{
  color: #000;
}
.content-box_label--bold {
  font-weight: 600;
  font-size: 15px;
}
.content-box .content-box_label--grey {
  color: #7f7f7f;
  font-size: 12px;
}
.content-box_icon {
  font-size: 40px;
  color: #ff6400;
}
.content-box:hover {
  background-image: linear-gradient(270deg, #ff6400, #feb22b );
}
.content-box:hover p,
.content-box:hover i{
  color: #fff;
}
.homepage_footer {
  max-height: 380px;
  width: 100%;
  background-image: linear-gradient(90deg, #ff6400, #feb22b );
  color: #ffffff;
}
.footer__container {
  padding-top: 20px;
}
.row,
.flex {
  display: flex;
  gap: 10px;
}
.logo-image {
  width: 150px;
  height: 80px;
}
.gap-52 {
  gap: 52px
}
.social {
  margin: 15px 15px 30px;
}
.social__logo {
  font-size: 22px;
  margin-right: 12px;
}
.logo-contract {
  font-size: 16px;
  margin-right: 12px;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.align-right {
  justify-content: end;
}
.mr-12 {
  margin-right: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.bold {
  font-weight: bold;
}
.login-button {
  background-color: #ff6400;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  margin: auto 0;
  border: none;
  color: #ffffff;
}
.globe-icon {
  font-size: 16px;
  margin-right: 8px;
}
.ver-seperate {
  background-color: #cccccc;
  height: 32px;
  width: 2px;
}
.hor-seperate {
  background-color: #cccccc;
  height: 2px;
  width: 100%;
}
.col-md-3, .col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.hor-center {
  margin: 0 auto;
}
.ver-center {
  margin: auto 0;
}

@media (min-width: 768px) {
  .col-md-3, .col-md-8 {
      float: left;
  }
  .col-md-3 {
      width: 29.16666667%;
  }
  .col-md-8 {
      width: 70.83333333%;
  }
}