.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  margin: 40px 0;
  padding: 45px 0;
}

.swiper-container .swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: .7s;
}
.swiper-container .swiper-wrapper{
  width: unset;
  height: unset;
}
.swiper-container .swiper-slide img {
  width: 100%;
}

.swiper-container .swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.5) !important;
}