@import '../layout.css';
@import '../global.css';


.g2j-branch-rooms .main_banner {
  margin-bottom: 80px;
}
.g2j-branch-rooms .layout_footer {
  margin-top: 0;
}

.room {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 335px;
  overflow: hidden;
  margin-bottom: 40px;
  border-radius: 12px;
  background-color: white;
}
.room__logo {
  width: 473px;
  height: 100%;
}
.room__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: calc(100% - 473px);
  padding: 24px;
  text-align: left;
}
.room__content__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.room__title {
  width: calc(100% - 190px);
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #333333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
}
.room__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 28px;
  border: 1px solid #E77026;
  border-radius: 7px;
  padding: 0 4px;
}
.room__price--discount {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #E77026;
}
.room__price--origin {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #333333cc;
}
.room__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}
.room__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 10px 0;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #333333cc;
  background: #F9F9F9;
  border-radius: 6px;
}
.room__desc {
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  text-align: left;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 40px;
}
.pagination__btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  color: #CACACA;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
}
.pagination__btn--nav {
  background: #F9F9F9;
}
.pagination__btn--active {
  color: #E77026 !important;
}

/* Responsive Mobile */
@media (max-width: 540px) {
  .g2j-branch-rooms .main_banner {
    margin-bottom: 50px;
  }
  .g2j-branch-rooms .main_banner_title {
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    bottom: 10px;
  }
  .room__content {
    padding: 24px 14px;
  }
  .room {
    height: auto;
    overflow: auto;
    position: relative;
  }
  .room__logo {
    border-radius: 12px;
    overflow: hidden;
  }
  .room__title {
    font-size: 28px;
    line-height: 35px;
    width: 100%;
    -webkit-line-clamp: 2;
    word-break: break-word;
  }
  .room__price {
    position: absolute;
    width: fit-content;
    height: 24px;
    padding: 0px 14px;
    top: 20px;
    right: 10px;
    background-color: #E77026;
  }
  .room__price img {
    filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
  }
  .room__price--discount {
    color: white;
    font-size: 12px;
    line-height: 15px;
  }
  .room__price--origin {
    font-size: 9px;
    line-height: 11px;
  }
  .room__tags {
    margin-bottom: 20px;
  }
  .room__tag {
    font-size: 12px;
    line-height: 15px;
    margin: 0 10px 10px 0;
  }
  .room__desc {
    margin-top: 20px;
  }
}