.g2j-landing-page {
  background: url("/assets/images/landing-page-footer-bg.png") no-repeat;
  background-size: contain;
  background-position: 0 100%;
  padding-bottom: 100px;
  background-size: 120%;
}
@media (max-width: 766px) {
  .g2j-landing-page {
    /* padding-bottom: 100px; */
    background-size: 140%;
  }
}

/* Header */
.landing-header {
  position: relative;
  margin-bottom: 20px;
}
.landing-header__btn {
  position: absolute;
  left: 5%;
  bottom: 10%;
  background-color: white;
  border-radius: 32px !important;
  color: #f26622 !important;
  padding: 14px 20px;
  box-shadow: rgb(0 0 0 / 80%) 0px 1px 16px;
}
@media (max-width: 766px) {
  .landing-header a {
    font-size: 14px;
    padding: 4px 12px;
  }
  .landing-header__btn {
    bottom: 5%;
  }
}

/* Promotion */
.landing-promotion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 14px;
  margin-bottom: 20px;
}
.landing-promotion__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

/* Benefits */
.landing-benefits {
  padding: 16px;
  margin-bottom: 20px;
  background-color: #f3f3f4;
}
.landing-benefits__wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}
.landing-benefits__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 8px;
}
.landing-benefits__item__icon {
  width: 71px;
}
.landing-benefits__item__header {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
}
.landing-benefits__item__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 766px) {
  .landing-benefits {
    padding: 8px;
  }
}

/* Partners */
.landing-partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 14px;
  margin-bottom: 20px;
}
.landing-partners__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.landing-partners__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.landing-partners__wrapper a {
  padding: 8px 16px;
}
.landing-partners__wrapper .partner__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
}
.landing-partners__wrapper::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  /* height: 2px; */
  background-color: #f5f5f5;
}
.landing-partners__wrapper::-webkit-scrollbar-thumb {
  background: #d1d1d6;
  border-radius: 10px;
}
.partner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.partner__logo img {
  width: 60px;
}
.partner__title {
  font-size: 16px;
  font-weight: 550;
  line-height: 1.2;
}
@media (max-width: 766px) {
  .landing-partners__wrapper {
    padding: 14px;
  }
  .landing-partners__wrapper a {
    padding: 8px;
    width: calc(100% / 3);
  }
}
@media (max-width: 540px) {
  .landing-partners__wrapper a {
    width: calc(100% / 2);
  }
}

/* Footer */
.landing-footer {
  padding: 0 0 20px;
}
.landing-footer__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.landing-footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.landing-footer__wrapper__item {
  border-radius: 16px;
  overflow: hidden;
}
.landing-footer__wrapper__item img {
  width: 100%;
}
.landing-footer__action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.landing-footer__action__btn {
  display: flex;
  width: max-content;
  background-color: #42bfb2;
  color: white;
  border-radius: 16px;
  align-items: center;
  padding: 12px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.landing-footer__action__btn .btn-icon {
  width: 30px;
  margin-right: 8px;
}
.landing-hotel-info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 766px) {
  .landing-footer__action {
    padding: 0 10px;
  }
  .landing-footer__action__btn {
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 0;
  }
  .landing-footer__action__btn .btn-icon {
    width: 18px;
  }
}
