.g2j-landing-page {
  background: url("/assets/images/landing-page-footer-bg.png") no-repeat;
  background-size: contain;
  background-position: 0 100%;
  padding-bottom: 100px;
  background-size: 120%;
}

/* Header */
.landing-header {
  position: relative;
  margin-bottom: 20px;
}
.landing-header__btn {
  position: absolute;
  left: 5%;
  bottom: 10%;
  background-color: white;
  border-radius: 32px !important;
  color: #f26622 !important;
  padding: 18px 34px;
  box-shadow: rgb(0 0 0 / 80%) 0px 1px 16px;
}

/* Promotion */
.landing-promotion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 14px 0;
  margin-bottom: 24px;
}
.landing-promotion__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 34px;
}

/* Benefits */
.landing-benefits {
  padding: 16px;
  margin-bottom: 30px;
  background-color: #f3f3f4;
}
.landing-benefits__wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
}
.landing-benefits__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 8px 12px;
}
.landing-benefits__item__icon img {
  width: 71px;
}
.landing-benefits__item__header {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  line-height: 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  margin: 4px 0;
}
.landing-benefits__item__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
  margin: 0;
}

/* Partners */
.landing-partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 14px 0;
  margin-bottom: 30px;
}
.landing-partners__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.landing-partners__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.landing-partners__wrapper a {
  padding: 8px 20px;
}
.landing-partners__wrapper .partner__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
}
.landing-partners__wrapper::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  /* height: 2px; */
  background-color: #f5f5f5;
}
.landing-partners__wrapper::-webkit-scrollbar-thumb {
  background: #d1d1d6;
  border-radius: 10px;
}
.partner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.partner__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.partner__logo img {
  width: 60px;
}
.partner__title {
  font-size: 16px;
  font-weight: 550;
  line-height: 1.2;
}

/* Footer */
.landing-footer {
  padding: 0 0 20px;
}
.landing-footer__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.landing-footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.landing-footer__wrapper__item {
  border-radius: 16px;
  overflow: hidden;
}
.landing-footer__wrapper__item img {
  width: 100%;
}
.landing-hotel-info {
  display: flex;
  flex-direction: column;
}

/* Form Hop Tac */
.section-contact {
  width: 100%;
  background: rgb(251, 164, 35, 0.5);
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 24px;
}
.section-contact__content {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
}
.section-contact .contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.section-contact .contact-image img {
  width: 100%;
  object-fit: cover;
}
.section-contact__title {
  font-weight: 600;
  font-size: 36px;
  color: #333333;
  text-transform: uppercase;
  text-align: left;
}
.section-contact__action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
}
.section-contact__action--submit {
  margin-right: 20px;
}
.landing-hotline-btn {
  display: flex;
  width: max-content;
  color: white;
  align-items: center;
  padding: 14px 18px;
}
.landing-hotline-btn .btn-icon {
  width: 30px;
  margin-right: 8px;
}

.contact-form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: flex-start;
}
.contact-form *::placeholder {
  color: white;
  font-family: "Averta Std CY";
}
.contact-form select option {
  color: rgb(117, 117, 117);
}
.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form input[type="password"],
.contact-form textarea,
.contact-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 7px;
  margin-right: 30px;
  color: white !important;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 1);
  background: transparent;
  margin-bottom: 10px;
  font: 16px "Averta Std CY";
  height: 70px;
}
.contact-form input.field-input,
.contact-form select.field-input {
  width: calc(50% - 30px);
}
.contact-form textarea {
  resize: none;
  overflow: hidden;
  height: 100px;
}
/* End Form Hop Tac */

@media (max-width: 766px) {
  .g2j-landing-page {
    padding-bottom: 0;
    background-size: 140%;
  }

  .landing-header__btn {
    bottom: 5%;
    font-size: 10px;
    padding: 0px 12px;
  }

  .landing-promotion__header {
    font-size: 20px;
  }

  .landing-benefits {
    padding: 8px;
  }
  .landing-benefits__item__icon {
    display: inline-flex;
    margin-right: 8px;
  }
  .landing-benefits__item__icon img {
    width: 35px;
    display: inline-block;
  }
  .landing-benefits__wrapper
    .landing-benefits__item:first-child
    .landing-benefits__item__icon {
    width: 35px;
  }
  .landing-benefits__wrapper .landing-benefits__item:first-child img {
    width: 28px;
  }
  .landing-benefits__item__header {
    display: inline-flex;
    overflow: unset;
    font-size: 20px;
    width: calc(100% - 50px);
    height: unset;
    margin-bottom: 0px;
  }
  .landing-benefits__item__desc {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .landing-partners__header {
    font-size: 28px;
  }
  .landing-partners__wrapper {
    padding: 14px;
  }
  .landing-partners__wrapper a {
    padding: 8px;
    width: calc(100% / 3);
  }
  .partner__logo {
    height: 60px;
  }
  .partner__logo img {
    width: 50px;
  }

  /* Footer mobile */
  .landing-footer__header {
    font-size: 28px;
  }
  .landing-footer__wrapper__item {
    border-radius: 8px;
  }

  /* Form Hop tac mobile */
  .section-contact__content {
    grid-template-columns: auto;
  }
  .section-contact__title {
    font-size: 28px;
  }
  .section-contact .contact-image {
    display: none;
  }
  .section-contact__action .button--default {
    font-size: 16px;
    padding: 14px;
  }
  .landing-hotline-btn .btn-icon {
    width: 20px;
  }
}

@media (max-width: 540px) {
  .landing-partners__wrapper a {
    width: calc(100% / 2);
  }
}
