
@import '../layout.css';
@import '../global.css';
h1, h3, h4, h5, h6, p {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    margin: 0;
}
.container-section {
    width: 100%;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 24px;
}
.item-promotion img{ 
    width: 100%;
}
.promotion-list {
    display: block;
}
.promotion-list-mobile {
    display: none;
}
@media (max-width: 1200px) {
    .container-section {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 12px;
    }
    .item-promotion {
        width: 500px;
    }
}
.promotion-block-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 89px 0;

}
.promotion-block-list .footer_left {
    text-align: left;
}
.color-g2j {
    color: #ff6400;
}
.item-promotion {
    min-height: 300px;
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
    background: #ffffff;
}
.is-title-promotion {
    font-weight: 600;
font-size: 32px;
text-transform: uppercase;
}
.is-sub-title-promotion {
    font-weight: 600;
    font-size: 22px;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;  
    padding-top: 56px;
}
.is-content-promotion {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}
.is-content-promotion ul {
    padding-left: 20px;
}
.is-content-promotion ul li {
    list-style:disc;
    padding-left: 0px;
}
.content-promotion {
    text-align: left;
    padding: 55px 46px;
}
.promotion-block-list .content-promotion .is-button-promotion input[type="button"]{
    font-size: 18px;
    font-weight: 700;
    background: #E77026;
    border-radius: 8px;
    color: #ffffff;
    border: none;
    padding: 18px 34px;
    float: left;
    margin-top: 22px;
    cursor: pointer;
}
.promotion-block-list .content-promotion .is-button-promotion  input[type="button"]:hover, 
.promotion-block-list .content-promotion .is-button-promotion  input[type="submit"]:hover {
	background: linear-gradient(180deg, #E77026 0%, #F3A846 100%) !important;
	background-color:#ff6400;
    font-size: 19px;
}
@media screen and (max-width: 540px) {
    .promotion-list {
        display: none;
    }
    .promotion-list-mobile {
        display: block;
    }
    .promotion-list-mobile .promotion-block-list {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
    .promotion-list-mobile .promotion-block-list .item-promotion  {
        width: 100%;
        min-height:auto;
        box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
        margin-top: 50px;
    }
    .promotion-list-mobile .promotion-block-list .item-promotion .content-promotion {
        padding: 28px 13px;
    }
    .promotion-list-mobile .promotion-block-list .item-promotion img {
        width: 100%;
    }
    .promotion-list-mobile .promotion-block-list .item-promotion .is-title-promotion {
        font-size: 28px;
    }
    .promotion-list-mobile .promotion-block-list .item-promotion .is-sub-title-promotion {
        padding-top:20px
    }
    .promotion-list-mobile .promotion-block-list .content-promotion .is-button-promotion input[type="button"] {
        width: 100%;
        margin-bottom: 20px;
    }
}
